<!DOCTYPE html PUBLIC
  "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <link rel="stylesheet" href='/static/style.css' />
    <style type="text/css">
        h1 {
            color:dodgerblue;
            text-align: center;
        }
        p {
            font-style:italic;
        }
        a:hover {
            background-color:gray;
            color:black;
        }
    </style>

</head>

<body>
<h1>Welcome to beau!</h1>
<h1></h1>
<a href='/home/refresh'>Home</a>
<h1></h1>
<table border = '1'>
    <tr>
        <th colspan = '2'>API table</th>
    </tr>
    <tr>
        <td width = "20%">API name</td>
        <td width = "50%">address</td>
    </tr>

</table>
<h1></h1>
<p>This is the website built for beau. You will not find anything useful here for a while. Because this is an API interface for now.</p>
<p>The application will be online soon!</p>
<h></h>
<a href = "http://www.github.com/supersun17">More about the author</a>
</body>
</html>